:root {
    --light-white: #f7f8fa;
    --second: #d4d9df;
    --light-blue: #1992d4;
    --fourth: #a4a4a5;
    --fifth: #8d773d;

    --font-primary: Roboto, sans-serif;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: var(--font-primary);
}

.container {
    display: grid;
    grid-template-columns: 17% 83%;
    grid-template-rows: auto;
    height: 100vh;
    width: 100vw;
}

/* common */
img {
    margin: 0;
    padding: 0;
}

/* sidebar */
.sidebar {
    color: var(--light-white);
    background-color: var(--light-blue);
}

.sidebar-header {
    display: grid;
    grid-template-columns: 25% 75%;
    align-content: center;
    margin: 0.75rem;
}

.logo-svg {
    height: 40px;
    width: 40px;
}

.title {
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
    align-self: center;
}

/* sidebar navigation main */

.sidebar-nav-main {
    margin-top: 3rem;
    font-size: 1.1rem;
    font-weight: var(--font-weight-bold);
    padding: 0;
    margin: 1.2rem;
    margin-top: 2.4rem;
}

.sidebar-nav-main>li {
    list-style: none;
    padding-bottom: 0.75rem;
}

.svg {
    height: 18px;
    width: 18px;
    margin-right: 1.5rem;
}

/*  */

.main-container {
    background-color: lightsalmon;

    display: grid;
    grid-template-rows: 1.2fr 5fr;
}

/* header */
.header {
    padding-left: 2rem;
    background-color: white;
    padding-right: 5rem;
}

.header-user-container {
    margin-top: 1rem;
    display: flex;
}

.search-bar {
    flex: 1;
    display: flex;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
}

input[type="search"] {
    width: 30rem;
    height: 1.5rem;
    border-radius: 10px;
    border: none;
    background-color: var(--second);
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.current-user {
    display: inline;
    font-weight: var(--font-weight-bold);
}

/*  */
.header-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.75rem;
}

.user-details {
    display: flex;
}

.user-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.user-welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome {
    font-size: 0.7rem;
    font-weight: var(--font-weight-bold);
}

.username {
    font-weight: var(--font-weight-bold);
    font-size: 1.2rem;
}

button {
    border: none;
    background-color: var(--light-blue);
    padding: 0.5rem 1.9rem;
    border-radius: 20px;
    color: var(--light-white);
    font-weight: var(--font-weight-bold);
    margin-left: 1rem;
}